<ion-view style="" title="Schedule Appointment">
  <ion-content scroll="false" padding="false">
    <ion-header-bar class="bar bar-header bar-light" >
      <a ng-href="#/schedule" style="text-decoration: none;">
        <label id="logout" class="back-bar">
          Back
        </label>
      </a>
        <p id='header-title' style="text-align: center">Request Appointment</p>
    </ion-header-bar>

    <form class="appForm">
      <ion-list style="">
        <label style="" name="app_numb" class="item item-input">
          <span class="input-label">Phone#</span>
          <input placeholder="Business Number" type="tel" ng-model="app_numb">
        </label>
        <label style="" class="item item-input">
          <span class="input-label">Business</span>
          <input placeholder="Multicare" type="text" ng-model="app_name">
        </label>
        <label style="" name="date" class="item item-input">
          <span class="input-label">Date</span>
          <input id="date" name="date" placeholder="June 5th, 2016" type="date" ng-model="app_date">
        </label>
        <label style="" name="time" class="item item-input">
          <span class="input-label">Time</span>
          <input placeholder="8:25 AM" type="time" ng-model="app_time">
        </label>
        <label style="" name="location" class="item item-input">
          <span class="input-label">Location</span>
          <input value="222 State Ave N Kent, WA 98030" type="text" ng-model="app_location">
        </label>
      </ion-list>
    </form>
    <button ng-click="go(app_numb, app_date, app_name, app_time, app_location)" class="button button-block button-positive">Submit Request</button>
  </ion-content>
</ion-view>
