<ion-view style="" title="Schedule Appointment">
  <ion-content scroll="false" padding="false">
    <form class="appForm">
      <ion-list style="">
        <label style="" name="search" class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input placeholder="Search" type="search">
        </label>
        <label style="" name="name" class="item item-input">
          <span class="input-label">Business</span>
          <input name="date" value="Multicare" type="date">
        </label>
        <label style="" name="date" class="item item-input">
          <span class="input-label">Date</span>
          <input name="date" placeholder="June 28, 2015" type="date">
        </label>
        <label style="" name="time" class="item item-input">
          <span class="input-label">Time</span>
          <input placeholder="8:00am" type="date">
        </label>
        <label style="" name="location" class="item item-input">
          <span class="input-label">Location</span>
          <input placeholder="Near me" type="text">
        </label>
      </ion-list>
    </form>
    <div style="#50D2C2" class="button-bar"></div>
    <button ng-click="go()" style="background-color: #50D2C2; color: #fff;" class="button button-block ">Submit Request</button>
  </ion-content>
</ion-view>
