<!-- <ion-view>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="user.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="signIn(user)">
        Sign-In
      </button>
      <p class="text-center">
        <a href="#/forgot-password">Forgot password</a>
      </p>
    </div>
  </ion-content>
</ion-view> -->
<ion-view>
    <ion-content class="" padding="true">
        <div id="logo-name">
            <p>APPOINTLY</p>
        </div>
        <img id='logo' ng-src="img/AppIcon.png" alt="Appointly" />
        <form style="">
            <ion-list style="">
                <!-- <label style="" class="item item-input">
                    <span class="input-label">Username</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="password">
                </label> -->
                <label class="item item-input item-floating-label input">
                  <!-- <span class="input-label">First Name</span> -->
                  <input type="tel" placeholder="Your Phone Number" ng-model="acc_number">
                </label>
                <label class="item item-input item-floating-label input">
                  <!-- <span class="input-label">Last Name</span> -->
                  <input type="password" placeholder="Your Password" ng-model="acc_password">
                </label>
            </ion-list>
            <div style="height: 20px;" class="spacer"></div>
            <button class="button button-positive button-block sign-in-btn" ng-click="login(acc_number, acc_password)" >Sign in</button>
            <button style="" class="button button-stable button-clear button-block " >Or create an account</button>
        </form>
    </ion-content>
</ion-view>
