<ion-view view-title="Schedule" ng-controller='MainCtrl as main'>

  <ion-header-bar class="bar-light">
      <button class="button button-icon icon ion-navicon"></button>
      <p id='header-title'>June 1st </p>
      <button class="button icon ion-plus-circled"></button>
    </ion-header-bar>

  <ion-content padding="true">
    {{test}}

    <div class="events" ng-repeat="a in appointments">
            <a class="item slot" href="#" ng-style="">
              <div class="app-title">
                <p>Meeting with</p>
                <p id='biz-name'>{{a.name}}</p>
              </div>
              <div class="app-info">
                <i class="ion-ios-clock-outline"></i>{{a.date}} {{a.time}}{{a.zone}}
              </div>
            </a>
     </div>
  </ion-content>
</ion-view>
