/* Empty. Add your own CSS if you like */

#back{
  color: #50D2C2;
  margin-right: 9px;
  padding-left: 9px;
}

.back-bar{
  color: #50D2C2;
}

.appForm input{
  color: #50D2C2;
}

.content{
  margin-left: auto;
  margin-right: auto;
  max-width: 20em;
}

.padding{
  padding: 0;
}

/*Header*/

.bar {
  padding: 0px;
  border: none;
}

#header-title {
  font-size: 1.3em;
  height: 30px;
  margin: 0.5em auto;
}

.ion-plus {
  border: none;
  border-bottom: 1px solid #EEEEEE;
  margin-right: 5px;
}

.button .button-icon .icon .ion-navicon {

}

/*Schedule View*/

.ion-ios-clock-outline{
  margin-right: 5px;
  font-size: 16px;
  color: #50D2C2;
  /*color: rgb(80 210 194);*/
}

.app-title {
  margin-bottom: 5px;
}

.app-title p{
  display: inline;
  font-size: 1em;
}

#biz-name{
  color: black;
}

.app-info{
  font-size: .8em;
  font-weight: 600;
}

#calendar {
  height: 55px;
  margin: 0;
  width: 100%;
  max-width: 700px;
  max-height: 150px;
}

.appointments{
  margin: 0 10px;
}

.events{
  border-left: none;
  border-right: none;
}

.date-info {
  display: inline;
  color: gray;
  font-size: 1em !important;
  font-weight: 500;
  padding-bottom: 15px;
}

.loc-info {
  color: gray;

}

.all-info {
  display: inline;
  float: left;;
}

.biz-logo {
  display: inline;
  float: right;
  margin-right: .5em;
  margin-top: .5em;
}

.biz-logo img {
  height: 30px;
  width: 30px;
}

/*Sign-up Page*/

#logo-name{
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #50D2C2;
}

#logo-name p {
  font-size: 19px;
}

#logo {
    display: block;
    width: 63px;
    margin-top: 20px;
    margin-bottom: 2.2em;
    margin-left: auto;
    margin-right: auto;
}

.input {
  border: none;
  border-bottom: 1px solid gray;
}

.time {
  float: left;
  width: 100px;
  height: 100%;
  background-color: white;
  position: relative;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
}

.time p {
  margin: 0;
  color: #19468D;
}

.slot {
  padding: 5px;
  vertical-align: center;
  font-size: 14px;
  overflow: hidden;
}

.popup-body {
  text-align: center;
}

.user-icon {
  display: block;
  width: 27vw;
  max-width: 180px;
  margin-top: 20px;
  margin-bottom: 2.2em;
  margin-left: auto;
  margin-right: auto;
}
