body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

h1, h6 {
	color: white;
}

.day {
  color: #fff;
}

.week, .month {
  color: #969696;

}

.header {
	background-color: #50d2c2;
  padding-left: 20px;
}

.tabs-group {
	text-transform: uppercase;
	cursor: pointer;
	word-spacing: 25px;
}
