body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.tabs-group {
	text-transform: uppercase;
	cursor: pointer;
	word-spacing: 25px;
}

.day:hover, .week:hover, .month:hover {
	text-decoration: underline;
}
